html {
  font: 1em/1.5rem -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#button {
  background-color: #9a0007; color: #fff;
  margin-top: 1.5rem;
  text-transform: uppercase;
  padding: .75rem;
  display: block;
  border: none; border-radius: 3px;
  float: right;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
  -webkit-appearance: button;
}

.text {
  border-radius: 0;
  font-size: 1rem;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 4.5rem;
  margin: .25rem auto;
  padding: .2rem;
  border: 1px solid #eee;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.text-after {
  display: block;
  width: calc(100% + 7px);
  height: 2px;
  margin: auto;
  margin-top: calc(-2px - .25rem);
  transition: transform ease-in-out 200ms;
  transform: scaleX(0);
  background-color: #9a0007;
}

.text:focus + .text-after {transform: scaleX(1);}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0;
}
h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 0;
}
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  display: inline;
}